body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font: {
        size: 100%;
        family: 'Arial', sans-serif;
    }
    color: #333;
}

main {
    flex: 1 0 auto;
}

.inline-list {
    display: inline-flex;
}