---
layout: default
title: "Catálogos"
---

<section id="catalogo">
    <img src="/assets/catalogo-bg.jpg" alt="catalogo poster" style="width: 100%; height: 100%;">
</section>

<!--

<header class="slider hide-on-small-only">
    <ul class="slides">
        {% for item in site.portas limit: 4 %}
            <li>
                <img src="{{ item.image }}" alt="{{ item.title }}">
                <div class="caption center" style="text-shadow: 2px -2px #444;">
                    <h2 class="center-align">{{ item.title }}</h2>
                    <h3 class="center-align">{{ item.price }}</h3>
                </div>
            </li>
        {% endfor %}
    </ul>
</header>

<section id="catalogos" class="section">
    <section id="portas" class="section">
        <div class="container">
            <div class="row">
                {% for item in site.portas %}
                    <div class="col s12 l4">
                        <div class="card large hoverable">
                            <div class="card-image">
                                <img src="{{ item.image }}" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
                            </div>

                            <div class="card-content center"><h3>Referencia: {{ item.title }}</h3> <h4> Preço: {{ item.price }}</h4></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</section>

-->