---
layout: default
title: "Catálogos"
permalink: /catalogo/
---

<header class="slider hide-on-small-only">
    <ul class="slides">
        {% for item in site.portas limit: 4 %}
            <li>
                <img src="{{ item.image }}" alt="{{ item.title }}">
                <div class="caption center" style="text-shadow: 2px -2px #444;">
                    <h2 class="center-align">{{ item.title }}</h2>
                    <h3 class="center-align">{{ item.price }}</h3>
                </div>
            </li>
        {% endfor %}
    </ul>
</header>

<section id="catalogos" class="section">
    <section id="portas" class="section">
        <div class="container">
            <div class="row">
                {% for item in site.portas %}
                    <div class="col s12 l4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <a href="{{ item.image }}" title="{{ item.title }}" data-lightbox="portas"><img src="{{ item.image }}" alt="{{ item.title }}"></a>
                                <div class="card-title">{{ item.title }} <br> {{ item.price }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</section>