<section id="maisServicos" class="section no-pad scrollspy primary-color-dark white-text container">
    <div class="container text-title">
        <section class="slick-servicos">
            {% for item in site.servicos %}
                <article class="card medium hoverable transparent" data-aos="zoom-in" data-aos-duration="3000">
                    <div class="card-image">
                        <img data-lazy="{{ item.image }}?nf_resize=fit&w=300" alt="{{ item.title }}">
                    </div>
                    
                    <div class="card-content">
                        <h5>{{ item.title }}</h5>
                    </div>

                    <div class="card-action">
                        <a href="#servicos{{ forloop.index }}" class="modal-trigger white-text">Saiba Mais</a>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>
</section>