<div class="navbar-fixed">
    <nav class="nav-extended white">
        <div>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">{% include nav/logotipoMiniarte.svg %}</a>

                {% unless page.layout == "default" %}
                    <a href="#" data-target="sideNav" class="sidenav-trigger"><i class="fas fa-lg fa-bars primary-color-text"></i></a>
                {% endunless %}

                <ul class="right hide-on-med-and-down">
                    {% include nav/nav.html %}

                    <li>
                        <a href="#contactos" class="btn-large waves-effect waves-light modal-trigger hide-on-med-and-down">Contacte-nos</a>
                    </li>
                </ul>
            </div>

            <div class="nav-content">
                <button data-target="contactos" class="hide-on-large-only btn-floating btn-large halfway-fab waves-effect waves-circle waves-light modal-trigger"><i class="fas fa-lg fa-mail-bulk"></i></button>
            </div>
        </div>
    </nav>
</div>

{% include nav/sidenav.html %}