<div class="navbar-fixed">
    <nav class="nav-extended white primary-color-text">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">
                    {% include nav/logotipoMiniarte.svg %}
                </a>
    
                <a href="#" class="sidenav-trigger" data-target="sideNav"><i class="fas fa-lg fa-bars"></i></a>
    
                <ul class="left hide-on-med-and-down">
                    {% include nav/nav.html %}
                </ul>
    
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#contactos" class="btn modal-trigger waves-effect waves-light" title="Contacte-nos" aria-label="button">Contacte-nos</a>
                    </li>
                </ul>
            </div>

            <div class="nav-content">
                <a href="#contactos" class="btn-floating btn-large halfway-fab modal-trigger waves-effect waves-circle waves-light" title="Contacte-nos" aria-label="button">
                    <i class="fas fa-lg fa-mail-bulk"></i>
                </a>
            </div>
        </div>
    </nav>
</div>