<section id="clientes" class="section grey lighten-4 grey-text">
    <div class="container">
        <div class="row">
            <div class="center">
                <h2 class="black-text">Principais Clientes</h2><hr class="certificate">
                <p class="center-align flow-text">Empresas de pequeno e grande porte confiam em nós, desde do sector privado ao público</p>
                <div class="col s4">
                    <img src="/assets/img/clientes/Emblem_of_Mozambique.png" alt="República de Moçambique" class="hoverable">
                </div>
                <div class="col s4">
                    <img src="/assets/img/clientes/hcb.jpg" alt="Hidroeletrica de Cahora Bassa" class="hoverable">
                </div>
                <div class="col s4">
                    <img src="/assets/img/clientes/vale.png" alt="Vale Moçambique" class="hoverable">
                </div>
            </div>
        </div>
    </div>
</section>