<div class="parallax-container section hide-on-small-and-down">
    <div class="parallax">
        <img src="/assets/img/parallax/drive.jpg" alt="Equipamentos">
    </div>

    <section class="right primary-color white-text">
        <div class="container">
            <h2 class="center-align">Equipamentos</h2><hr class="certificate-o"><br>

            <p class="center-align">Temos vários equipamentos de construção disponíveis:</p>
            <p class="center-align">Tractor MF</p>
            <p class="center-align">Cilindros vibradores de 1000kg</p>
            <p class="center-align">Betoneira industrial e semi-industrial</p>
            <p class="center-align">Betoneira automóvel</p>
            <p class="center-align">Betoneiras 350L</p>
            <p class="center-align">TractorMF</p>
            <p class="center-align">Cilindros vibradores de 1000kg</p>
            <p class="center-align">Betoneira industrial semi-industrial</p>
            <p class="center-align">Betoneira automóvel</p>
            <p class="center-align">Betoneiras 350L</p>
            <p class="center-align">Compactadores</p>
            <p class="center-align">E muito mais</p>
        </div>
    </section>
</div>

<section class="section hide-on-med-and-up">
    <div class="container">
        <h2 class="center-align">Equipamentos</h2><hr class="certificate"><br>

        <p class="center-align">Temos vários equipamentos de construção disponíveis:</p>
        <p class="center-align">Tractor MF</p>
        <p class="center-align">Cilindros vibradores de 1000kg</p>
        <p class="center-align">Betoneira industrial e semi-industrial</p>
        <p class="center-align">Betoneira automóvel</p>
        <p class="center-align">Betoneiras 350L</p>
        <p class="center-align">TractorMF</p>
        <p class="center-align">Cilindros vibradores de 1000kg</p>
        <p class="center-align">Betoneira industrial semi-industrial</p>
        <p class="center-align">Betoneira automóvel</p>
        <p class="center-align">Betoneiras 350L</p>
        <p class="center-align">Compactadores</p>
        <p class="center-align">E muito mais</p>
    </div>
</section>