<section class="section primary-color white-text">
	<div class="row">

		<section class="hide-on-small-only col m6 l6">
			<img src="/assets/img/parallax/parallax-2.jpg" alt="Serviços">
        </section>
        
        <section class="col s12 m6 l6">
			<section class="section">
				<div class="container center">
                    <span class="fa fa-5x fa-gears"></span>
					<h2>Equipamentos</h2>
					<div class="row">
						<p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis recusandae corporis deserunt vero accusantium dolorem mollitia aspernatur nesciunt fuga veritatis quam illum, tempore totam sed adipisci, doloremque, obcaecati expedita harum.
                        </p>

						<a href="/galeria/equipamentos" title="Equipamentos" class="btn waves-effect waves-light">Veja Mais</a>
					</div>
				</div>
			</section>
		</section>
	</div>
</section>