<section class="section primary-color white-text">
	<div class="row">

		<section class="hide-on-small-only col m6 l6">
			<img src="/assets/img/parallax/parallax-2.jpg" alt="Serviços">
        </section>
        
        <section class="col s12 m6 l6">
			<section class="section">
				<div class="container center ">
                    <span class="fa fa-5x fa-gears"></span>
					<h2>Equipamentos</h2>
					<div class="row">
						<p class="center">Temos uma vasta gama de equipamentos para oferecer serviços de alta qualidade aos nossos clientes, entre alguns dos nossos equipamentos temos:</p>
						<p class="center">
							<ul>
								{% for item in site.data.equipamentos %}
									<li>{{ item }}</li>
								{% endfor %}
							</ul>
						</p>

						<a href="/portfolio/equipamentos" title="Equipamentos" class="btn waves-effect waves-light">Veja Mais</a>
					</div>
				</div>
			</section>
		</section>
	</div>
</section>