<footer class="page-footer white-text grey darken-4">
    <div class="container">
        <div class="section-grid">
            <div class="text-title container">
                <img src="{{ site.logo }}" alt="">
            </div>

            <article>
                <h5>Serviços</h5>

                <ul>
                    {% for item in site.servicos %}
                        <li>
                            <a href="#servicos{{ forloop.index }}" class="modal-trigger white-text">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </article>

            <article>
                <h5>Siga-nos</h5>

                {% include social.html %}
            </article>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container center">
            <div class="section-grid">
                <span>&copy; {{ site.time | date: "%Y" }} Todos Direitos Reservados a {{ site.title }} - {{ site.description }}</span>

                <span>Designed by <a href="https://izitech.co" title="IZITech" rel="author" target="_blank" class="white-text">IZITech</a></span>
            </div>
        </div>
    </div>
</footer>

{% include home/servicos/modalServicos.html %}