<footer class="page-footer white-text">
    <div class="container">
        <div class="section-grid">
            <article>
                <h5 class="text-title">{{ site.title }}</h5>

                {% for item in site.sobre limit: 1 %}
                    <div class="light">
                        {{ item.content }}
                    </div>
                {% endfor %}
            </article>

            <article>
                <h5 class="text-title">Serviços</h5>

                <ul>
                    {% for item in site.servicos %}
                        <li>{{ item.title }}</li>
                    {% endfor %}
                </ul>
            </article>

            <article>
                <h5 class="text-title">Siga-nos</h5>

                {% include social.html %}
            </article>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="section-grid">
                <span>&copy; {{ site.time | date: "%Y" }} Todos Direitos Reservados a {{ site.title }} - {{ site.description }}</span>

                <span>Designed by <a href="https://izitech.co" title="IZITech" rel="author" target="_blank" class="white-text">IZITech</a></span>
            </div>
        </div>
    </div>
</footer>
