<footer class="page-footer white-text grey darken-4">
    <div class="container">
        <div class="section-grid">
            <h4 class="text-title">{{ site.title }} - {{ site.description }}</h4>

            <article>
                <h6 class="text-title">Serviços</h6>

                <ul>
                    {% for item in site.servicos %}
                        <li>{{ item.title }}</li>
                    {% endfor %}
                </ul>
            </article>

            <article>
                <h6 class="text-title">Siga-nos</h6>

                {% include social.html %}
            </article>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="section-grid">
                <span>&copy; {{ site.time | date: "%Y" }} Todos Direitos Reservados a {{ site.title }} - {{ site.description }}</span>

                <span>Designed by <a href="https://izitech.co" title="IZITech" rel="author" target="_blank" class="white-text">IZITech</a></span>
            </div>
        </div>
    </div>
</footer>
