<header class="page-header hide-on-med-and-down white-text">
    <div class="center">
        <img src="/assets/img/brand/logo.svg" alt="{{ site.title }}" width="400" height="400">
        <h1 title="Descrição do site">{{ site.description }}</h1>
        <p class="flow-text center-align">Mais de 20 Anos contribuindo no desenvolvimento da província de Tete</p>
        <a href="#perfil" class="btn-large white-text waves-effect waves-light" title="Perfil Resumido da Miniarte">Perfil da Empresa <i class="fa fa-2x fa-chevron-down"></i></a>
    </div>
</header>