<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ site.author.name }}">
<meta name="reply-to" content="{{ site.author.email }}">
<meta name="theme-color" content="#ff6d00">

{% seo %}

<link rel="apple-touch-icon" href="{{ site.github.url | prepend: site.url }}/apple-touch-icon.png">
<link rel="icon" href="{{ site.github.url | prepend: site.url }}/favicon.png">
<link rel="stylesheet" href="{{ site.github.url | prepend: site.url }}/assets/css/main.css">
        
<script src="{{ site.github.url | prepend: site.url }}assets/js/modernizr-2.8.3.min.js" async defer></script>