<header class="page-header white-text">
    <div class="page-title">
        <h1 title="Titulo do site">{{ site.title }}</h1>
        <h2 title="Descrição do site">{{ site.description }}</h2>
        <p class="flow-text">Mais de 20 Anos contribuindo no desenvolvimento da província de Tete</p>
        <a href="#perfil" class="btn-large white-text waves-effect waves-light" title="Perfil Resumido da Miniarte">Perfil da Empresa <i class="fa fa-2x fa-chevron-down"></i></a>
    </div>
</header>