<header class="parallax-container hide-on-small-only">
    <div class="parallax">
        <img src="{{ page.image }}">
    </div>
    <div class="container center">
        <br><br><br>
        <img src="{{ site.image }}" alt="{{ site.title }}" style="width: 300px;">
        <br>
        <a href="mailto:{{ site.email }}" title="Email" class="btn waves-effect waves-light">Contacte-nos</a>
        <a href="#sobre" class="btn-flat waves-effect modal-trigger white-text" style="border: solid 1px #fff;">Conheça-nos</a>
    </div>
</header>

<header class="page-header hide-on-med-and-up">
    <img src="{{ page.image }}" alt="{{ page.title }}">

    <div class="container">
        <div class="center">
            <div class="page-title">
                <img src="{{ site.logo }}" alt="{{ site.title }}" style="width: 300px;">
                <h1>{{ page.title }}</h1>
                <h2>{{ page.description }}</h2>

                <a href="mailto:{{ site.email }}" title="Email" class="btn waves-effect waves-light">Contacte-nos</a>
                <a href="#sobre" class="btn-flat waves-effect modal-trigger white-text" style="border: solid 1px #fff;">Conheça-nos</a>
            </div>
        </div>
    </div>
</header>
