<header class="hide-on-small-only">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="{{ site.baseurl }}/assets/img/brand/logotipo.png" alt="logotipo">
                <div class="caption left-align">
                    <h2>{{ site.title }}</h2>
                    <h3>{{ site.description }}</h3>
                </div>
            </li>
            <li>
                <img src="{{ site.baseurl }}/assets/img/pic.jpg" alt="imagem de uma pontem">
                <div class="caption right-align">
                    <h2>Ponte</h2>
                    <h3>Cidade de Nova York, EUA</h3>
                </div>
            </li>
        </ul>
    </div>
</header>