<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center" title="{{ site.title }}">{{ site.title }}</a>
        <a href="#" class="button-collapse show-on-large" data-activates="sideNav"><i class="fa fa-navicon"></i></a>

        <ul class="right hide-on-med-and-down">
            <li>
                <a href="https://fb.com/{{ site.facebook }}" title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="mailto:{{ site.email }}" title="Email"><i class="fa fa-envelope"></i></a>
            </li>
            <li>
                <a href="#" title="Celular">258 829-851-174</a>
            </li>
            <li>
                <a href="http://miniarte.co.mz:2096" title="Login WebMail" target="_blank"><i class="fa fa-user"></i>Login</a>
            </li>
        </ul>
    </div>
</nav>