<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" title="{{ site.title }}" class="brand-logo">{{ site.title }}</a>
                <a href="#" data-target="sideNav" class="sidenav-trigger">
                    <i class="fas fa-lg fa-bars"></i>
                </a>

                <ul class="right hide-on-med-and-down">
                    {% include nav.html %}
                </ul>
            </div>
        </div>
    </nav>
</div>