<header class="parallax-container hide-on-small-and-down" style="height: 100vh;">
    <div class="parallax">
        <img src="/assets/img/parallax/miniarte.jpg" alt="{{ site.title }}">
    </div>

    <section class="right">
        <div class="container">
            <h1 class="center" title="{{ site.title }}">{{ site.title }}</h1>
            <h2 class="center-align" title="{{ site.description }}">{{ site.description }}</h2>

            <p class="center-align">
                Construtora privada 100% moçambicana. <br> 
                Sediada na Cidade de Tete <br>
                Av. 25 de Junho, frente ao mercado 1º de Maio. <br> 
                Telf. 252 22373 Fax. 252 22737 <br> 
                Cel. 825028320/843028320 <br> 
                Email: <a href="mailto:{{ site.email }}" title="Email">{{ site.email }}</a> <br>
                <a href="mailto:{{ site.email }}" class="btn-large waves-effect waves-light"><i class="fa fa-envelope"></i> CONTACTE-NOS!</a>
                <a href="/perfil/" class="btn-large btn-flat waves-effect black-text" style="border: solid 1px #444;" title="Perfil da Empresa">Saiba Mais</a>
            </p>
        </div>
    </section>
</header>

<header class="hide-on-med-and-up primary-color white-text">
    <section class="section container">
        <div class="center">
            <h1 class="center" title="{{ site.title }}">{{ site.title }}</h1>
            <h2 class="center-align" title="{{ site.description }}">{{ site.description }}</h2>

            <p class="center-align">
                Construtora privada, de capital social de 25.200.000,00Mts e 100% moçambicana. <br> 
                Sediada na Cidade de Tete, Av. 25 de Junho, frente ao mercado 1º de Maio. <br> 
                Telf. 252 22373 Fax. 252 22737 <br> 
                Cel. 825028320/843028320 <br> 
                Email: <a href="mailto:{{ site.email }}" title="Email">{{ site.email }}</a> <br>
                <a href="mailto:{{ site.email }}" class="btn-large waves-effect waves-light"><i class="fa fa-envelope"></i> CONTACTE-NOS!</a>
                <a href="/perfil/" class="btn-large btn-flat waves-effect black-text" style="border: solid 1px #444;" title="Perfil da Empresa">Saiba Mais</a>
            </p>
        </div>
    </section>
</header>