<section id="perfil" class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <img src="{{ site.image }}" alt="logo" class="hoverable">
            </div>
            <div class="col s12 l6">
                <div class="center">
                    <h2 title="Perfil da Empresa">Perfil da Empresa:</h2><hr class="certificate">
                    <p title="perfil">Miniarte Construção Civil, Lda é uma empresa que procura manter seus clientes satisfeitos executando com precisão seus serviços.</p>
                    <p>Entre eles oferecemos: </p>
                    <p>
                        <ul>
                            <li>Construção de Edificios</li>
                            <li>Manutenção de Estradas</li>
                            <li>Carpintaria Mecanizada</li>
                            <li>Aluminios</li>
                            <li>Vidros</li>
                        </ul>
                        Inclusive temos lojas com diversos materiais de construção.
                    </p>
                    <a href="https://1drv.ms/b/s!AnlgpsbHyntRehkxHKMt7q9p9G8" class="btn-large btn-flat waves-effect waves-light" title="Curriculum Vitae da Empresa" target="_blank">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
</section>