<section id="perfil" class="section scrollspy grey lighten-4">
    <div class="container">
        <div class="center">
            <h2 title="Perfil da Empresa">Perfil da Empresa:</h2><hr class="certificate"><br>
        </div>
        <div class="row">
            <div class="center">
                <img src="{{ site.image }}" alt="logo" width="500" height="500">

                <p class="center-align">
                    MINIARTE, é uma empresa de Construção Civil privada, de capital social de 25.200.000,00Mts e 100% moçambicana. <br> 
                    Sediada na Cidade de Tete, Av. 25 de Junho, frente ao mercado 1º de Maio. <br> 
                    Telf. 252 22373 Fax. 252 22737 <br> 
                    Cel. 825028320/843028320 <br> 
                    Email: {{ site.email }} 
                </p>
            </div>
        </div>
        <div class="center">
            <a href="/perfil/" class="btn-large btn-flat waves-effect black-text" style="border: solid 1px #444;" title="Perfil da Empresa">Saiba Mais</a>
        </div>
    </div>
</section>