<section class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                {% for item in site.perfil limit: 1 %}
                    <div class="card-panel primary-color white-text justify">
                        {{ item.content }}
                    </div>
                {% endfor %}
            </div>

            <div class="col s6 l3">
                <p class="bolder"><i class="fas fa-map"></i>Localização</p>
                <ul>
                    <li>Cidade de Tete</li>
                    <li>Av. 25 de Junho nº 653</li>
                </ul>
            </div>

            <div class="col s6 l3">
                <p class="bolder"><i class="fas fa-tty"></i>Contactos</p>
                <ul>
                    <li>+258 252 22373</li>
                    <li><a href="tel:+258 82 502 8320">+258 82 502 8320</a></li>
                    <li><a href="tel:+258 84 302 8320">+258 84 302 8320</a></li>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </ul>
            </div>
        </div>

        <a href="#perfil" class="modal-trigger btn-large waves-effect waves-light" title="Perfil">Saiba Mais</a>
        <a href="#contactos" title="Contacte-nos" class="btn-large waves-effect waves-light modal-tigger">Contacte-nos <i class="fas fa-envelope"></i></a>
    </div>
</section>
