<section class="section primary-color-text white">
	<div class="row">

		<section class="col s12 m6 l6">
			<section class="section">
				<div class="container center">
					<h2>Serviços</h2>
					<div class="row">
						{% for item in site.servicos limit: 2%}
							<div class="col s12 m6 l6">
								<img src="{{ item.icon }}" alt="{{ item.title }}">
								<h5>{{ item.title }}</h5>
							</div>
						{% endfor %}
					</div>
					<a href="/servicos" title="Serviços" class="btn-large waves-effect waves-light">Saiba Mais</a>
				</div>
			</section>
		</section>

		<section class="hide-on-small-only col m6 l6">
			<img src="/assets/img/parallax/parallax-1.jpg" alt="Serviços">
		</section>
	</div>
</section>