<section class="section primary-color white-text">
	<div class="row">

		<section class="col s12 m6 l6">
			<section class="section">
				<div class="container center">
					<span class="fa fa-5x fa-tasks"></span>
					<h2>Serviços</h2>
					<div class="row">
						{% for item in site.servicos limit: 3%}
							<div class="col s12 m4 l4">
								<img src="{{ item.icon }}" alt="{{ item.title }}">
								<h3>{{ item.title }}</h3>
							</div>
						{% endfor %}

						<a href="/servicos" title="Serviços" class="btn waves-effect waves-light">Saiba Mais</a>
					</div>
				</div>
			</section>
		</section>

		<section class="hide-on-small-only col m6 l6">
			<img src="/assets/img/parallax/parallax-1.jpg" alt="Serviços">
		</section>
	</div>
</section>