<section id="servicos" class="section primary-color-light white-text scrollspy">
    <div class="container">
        <h2 class="center-align">Serviços</h2><hr class="certificate-o">
        <div class="row">
            <div class="col s12 l6">
                <div class="center"><img src="/assets/img/servicos/constructor.png" alt="icone de construção Civil"></div>
            </div>
            <div class="col s12 l6">
                <p title="serviços">Miniarte Construção Civil, Lda é uma empresa que procura manter seus clientes satisfeitos executando com precisão seus serviços.</p>
                <p>Entre eles oferecemos: </p>
                <p>
                    <ul>
                        <li>Construção de Edificios</li>
                        <li>Manutenção de Estradas</li>
                        <li>Carpintaria Mecanizada</li>
                        <li><a href="/servicos/" title="Serviços" class="btn-large btn-flat waves-effect waves-light">Muito Mais</a></li>
                    </ul>
                </p>
                <p>Inclusive temos lojas com diversos materiais de construção.</p>
            </div>
        </div>
    </div>
</section>