<!-- sideNav -->
<aside>
    <ul id="sidenav" class="side-nav">
        <li>
            <a href="{{ site.baseurl }}/" title="Página Inicial"><i class="fa fa-fw fa-home"></i>Página Inicial</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/#servicos" title="Serviços">Serviços</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/#parceiros" title="Parceiros">Parceiros</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/portfolio" title="Portfolio">Portfolio</a>
        </li>
    </ul>
</aside>