<!-- sideNav -->
<aside>
    <ul id="sideNav" class="side-nav">
        <li>
            <a href="#servicos" title="Serviços" class="waves-effect waves-blue">Serviços</a>
        </li>
        <li>
            <a href="#equipamentos" title="Equipamentos" class="waves-effect waves-blue">Equipamentos</a>
        </li>            
        <li>
            <a href="#clientes" title="Clientes" class="waves-effect waves-blue">Clientes</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/portfolio" title="Portfolio" class="waves-effect waves-blue">Portfolio</a>
        </li>
        <li>
            <a href="#sobre" title="Sobre" class="modal-trigger">Sobre</a>
        </li>
    </ul>
</aside>