<section id="sobre" class="modal">
    <div class="modal-content">
            <div class="container">
            <div class="row">
                <div class="center">
                    <img src="{{ site.image }}" alt="Papel de Parede">
                </div>
                <p class="flow-text center-on-small-only">MiniArte Construção Civil, é uma empresa, que sempre procurou manter a satisfação dos seus clientes executando com precisão, construção de edifícios, manutenção de estradas, serração de madeiras, trabalhos em uma carpintaria mecanizada, trabalhos em alumínio e uma loja apetrechada de material de construção civil.</p>
            </div>
        </div>
    </div>
</section>