<section id="sobre" class="modal primary-color-text">
    <div class="container modal-content">
        <div class="row">
            {% for item in site.perfil offset: 1 %}
                <div class="col s12 l6 ">
                    <p class="bolder center-align"><i class="fas fa-{{ item.icon }}"></i>{{ item.title }}</p>
                    <div class="justify">
                        {{ item.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>