@charset "UTF-8";

@import "variables";

.primary-color {
    background: $primary-color;
}

.primary-color-light {
    background: $primary-color-light;
}

.primary-color-dark {
    background: $primary-color-dark;
}

.parallax-container {
    section {
        height: 100vh;
        width: 50vw;
    }
}

.page-footer {
    i,
    .btn-flat {
        color: #fff;
    }
}

iframe {
    max-width: 100%;
    height: auto;
}

@import
    "base",
    "hr",
    "animate-bottom",
    "materialize/materialize"
;