@charset "UTF-8";

@import
    "base",
    "animate-bottom",
    "materialize/materialize"
;


.primary-color {
    background: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.primary-color-light {
    background: $primary-color-light;
}

.primary-color-dark {
    background: $primary-color-dark;
}

.page-footer {
    i,
    .btn-flat {
        color: #fff;
    }
}

.bolder {
    font-weight: bolder;
}

.uppercase {
    text-transform: uppercase
}

img {
    max-width: 100%;
    height: auto;
}

@import
    "base",
    "page-header",
    "animate-bottom",
    "materialize/materialize"
;