@charset "UTF-8";

@import "variables";

.primary-color {
    background: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.primary-color-light {
    background: $primary-color-light;
}

.primary-color-dark {
    background: $primary-color-dark;
}

@import
    "base",
    "animate-bottom",
    "materialize/materialize"
;