---
---

@charset "UTF-8";

@import "variables";

// custom
.page-header {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
}

.page-footer {
    i,
    .btn-flat {
        color: #fff;
    }
}

#perfil {
    background: $primary-color;
}

#servicos {
    .card {
        background: $primary-color;
        .card-header,
        .card-content {
            color: #fff;
        }
    }
}


.btn,
.btn-flat,
.btn-large {
    border: solid 1px #fff;
    border-radius: 10px;
}

@import
    "base",
    "imported"
;