<div id="contactos" class="modal">
    <div class="modal-content">
        <h5 class="primary-color-text center text-title">Fale Connosco</h5>

        {% include contact-form/form.html %}

        <ul class="section-grid">
            <li>
                <p class="bolder">Localização</p>
                <div class="light">
                    Avenida 24 de Junho nº 653<br> Cidade de Tete 
                </div>
            </li>

            <li>
                <p class="bolder">Telefones</p>
                <div class="light">
                    +258 252 22373 <br>
                    +258 82 502 8320 <br>
                    +258 84 302 8320
                </div>
            </li>

            <li>
                <p class="bolder">Emails</p>
                <div class="light">
                    Geral: info@miniarte.co.mz <br>
                    Administrador: eduardoguta@miniarte.co.mz <br>
                    Gestor de Vendas: gutajunior@miniarte.co.mz <br>
                    Director Técnico: edsonguta@miniarte.co.mz <br>
                    Responsável da Carpintaria: edgartguta@miniarte.co.mz
                </div>
            </li>                
        </ul>
    </div>
</div>