<header class="container section-grid-no-gap">
    <article class="primary-color white-text">
        <div class="container">
            <h4 class="text-title">{{ page.title }}</h4>

            <article>
                {{ page.content | markdownify }}
            </article>

            <div class="text-title">
                <a href="#main-content" class="btn waves-effect waves-primary white primary-color-text">Aprecie <i class="fas fa-chevron-down"></i></a>
            </div>
        </div>
    </article>

    <img src="{{ page.image }}" alt="{{ page.title }}">
</header>