{% include header/header-bg.html %}

<header class="page-header">
    <div class="container section-grid" style="padding: 10% 0;">
        <div class="white-text">
            <h1 class="hide-on-med-and-down">{{ site.time | date: "%Y" | minus: 1992 }} Anos Construíndo os seus Sonhos.</h1>

                <h3 class="hide-on-large-only">{{ site.time | date: "%Y" | minus: 1992 }} Anos Construíndo os seus Sonhos.</h3>

                <h4>Tornando-os uma Realidade.</h4>
            
                <p class="bolder">Oferecemos os melhores serviços com as ferramentas necessárias para suas necessidades.</p>

            <a href="#contactos" class="btn-large waves-effect waves-light modal-trigger">Contacte-nos</a>
        </div>

        <img class="hide-on-med-and-down">
    </div>
</header>
