<header class="slider">
    <ul class="slides">
        {% for item in site.slider limit: 3 %}
            <li>
                <img src="{{ item.image }}" alt="{{ item.title }}">
                
                <div class="caption left-align">
                    <h4 class="text-title hide-on-large-only" style="text-shadow: 2px -2px {{ site.color }};">{{ item.title }}</h4>

                    <h2 class="text-title hide-on-med-and-down" style="text-shadow: 2px -2px {{ site.color }};">{{ item.title }}</h2>
                </div>
            </li>
        {% endfor %}
    </ul>
</header>