<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        {% include head.html %}
    </head>
    <body class="grey lighten-4">
        {% include navbar.html %}
        {% include sidenav.html %}
        <main class="animate-bottom">
            {{ content }}
        </main>
        {% include sobre.html %}
        {% include footer.html %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
        {% include scripts.html %}
        {% include ga.html %}