---
layout: default
---

{% include header/page-header.html %}

{% include pages/masonry.html %}

<section id="main-content" class="section scrollspy">
    <div class="container">
        <div class="masonry">
            {% for image in page.images %}
                <a href="{{ image }}" data-title="{{ item.title }}" data-lightbox="{{ page.title }}">
                    <img data-aos="zoom-in" data-aos-duration="3000"
                        data-src="{{ image }}?nf_resize=fit&w=320"
                        alt="{{ item.title }}"
                        data-srcset="{{ image }}?nf_resize=fit&h=480 2x,
                        {{ image }}?nf_resize=fit&h=720 3x,
                        {{ image }}?nf_resize=fit&h=1080 4x"
                        class="lazy">
                </a>
            {% endfor %}
        </div>
    </div>
</section>