<div class="section-grid">
    <a href="#cotacao" class="btn-large waves-effect waves-light modal-trigger">PEÇA UMA COTAÇÃO</a>
</div>

<div id="cotacao" class="modal">
    <div class="modal-content">
        <div class="container">
            <form method="post" netlify name="Cotacao">
                {% include contact-form/name.html %}
    
                {% include contact-form/email.html %}
    
                {% include contact-form/telephone.html %}
    
                <div class="row">
                    <div class="input-field">
                        <select name="Serviço a Reservar" class="browser-default multiple">
                            <option value="" disabled selected>Serviços</option>
                            {% for item in site.servicos %}
                                <option value="{{ forloop.index }}">{{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% include contact-form/message.html %}
    
                {% include contact-form/submit.html %}
            </form>
        </div>
    </div>
</div>