<section id="equipamentos" class="section scrollspy primary-color white-text">
	<p class="bolder center-align">Equipamentos</p>
	<div class="row">
		<div class="col s12 l6">
			<div class="card-panel hoverable">
				<div class="justify">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Neque aliquam iure voluptates, quis dolorem aperiam vero eligendi quae nostrum inventore, illum suscipit.
					Consequatur consequuntur dolorum quos eos, exercitationem incidunt ad.
				</div>
			</div>
		</div>

		{% for item in site.portfolio reversed limit: 4 %}
			{% if item.tag == "equipamentos" %}
				<div class="col s6 l3 no-padding">
					<img src="{{ item.image }}" alt="{{ item.title }}" data-caption="{{ item.title }}" class="responsive-img materialboxed">
				</div>
			{% endif %}
		{% endfor %}
	</div>
</section>