<section id="equipamentos" class="section no-pad scrollspy container secondary-color white-text">
	<div class="text-title">
		<div class="section-grid-no-gap">

			<article class="container">
				<h4>Aluguer de Equipamentos</h4>

				<p>Temos uma vasta gama de equipamentos para oferecer serviços de alta qualidade aos nossos clientes, entre alguns dos nossos equipamentos temos:</p>

				<ul class="section-grid">
					{% for item in site.equipamentos limit: 6 %}
						<li>
							<a href="{{ item.image }}" data-lightbox="equipamentos" data-title="{{ item.title }}"><img class="lazy" data-src="{{ item.image }}?nf_resize=fit&w=300" alt="{{ item.title }}"></a>							
						</li>
					{% endfor %}
				</ul>
			</article>
		</div>
	</div>
</section>