<section class="section scrollspy" id="localizacao">
    <div class="container">
        <div class="section-grid">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="fas fa-lg fa-map-marker-alt"></i> Localização</div>
                    <div class="collapsible-body">
                        Avenida 24 de Junho nº 653<br> Cidade de Tete 
                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="fas fa-lg fa-phone"></i> Telefones</div>
                    <div class="collapsible-body">
                        +258 252 22373 <br>
                        +258 82 502 8320 <br>
                        +258 84 302 8320
                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="fas fa-lg fa-envelope"></i> Emails</div>
                    <div class="collapsible-body">
                        Geral: info@miniarte.co.mz <br>
                        Administrador: eduardoguta@miniarte.co.mz <br>
                        Gestor de Vendas: gutajunior@miniarte.co.mz <br>
                        Director Técnico: edsonguta@miniarte.co.mz <br>
                        Responsável da Carpintaria: edgartguta@miniarte.co.mz
                    </div>
                </li>                
            </ul>

            <!--iframe do google maps-->
        </div>
    </div>
</section>