<section class="section scrollspy" id="localizacao">
    <div>
        <div class="section-grid">
            <div class="container">
                <ul class="container">
                    <li>
                        <p class="bolder">Localização</p>
                        <div class="light">
                            Avenida 24 de Junho nº 653<br> Cidade de Tete 
                        </div>
                    </li>
    
                    <li>
                        <p class="bolder">Telefones</p>
                        <div class="light">
                            +258 252 22373 <br>
                            +258 82 502 8320 <br>
                            +258 84 302 8320
                        </div>
                    </li>
    
                    <li>
                        <p class="bolder">Emails</p>
                        <div class="light">
                            Geral: info@miniarte.co.mz <br>
                            Administrador: eduardoguta@miniarte.co.mz <br>
                            Gestor de Vendas: gutajunior@miniarte.co.mz <br>
                            Director Técnico: edsonguta@miniarte.co.mz <br>
                            Responsável da Carpintaria: edgartguta@miniarte.co.mz
                        </div>
                    </li>                
                </ul>
            </div>

            <div class="video-container">
                <iframe class="lazy" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3792.212861782902!2d33.584267314831024!3d-16.162198988823576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTbCsDA5JzQzLjkiUyAzM8KwMzUnMTEuMiJF!5e1!3m2!1spt-PT!2smz!4v1601640894114!5m2!1spt-PT!2smz" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</section>