<section id="lojas" class="section no-pad scrollspy">
	<div class="container primary-color white-text">
		<div class="section-grid-no-gap">
			<article class="container">
				{% for item in site.pages %}
					{% if item.title == "Lojas de Ferranges" %}
						<h4 class="text-title">{{ item.title }}</h4>

						<article>
							{{ item.content }}
						</article>

						<div class="text-title">
							<a href="{{ item.url }}" title="{{ item.title }}" class="btn white primary-color-text waves-effect waves-primary">Aprecie Mais</a>
						</div>
					{% endif %}
				{% endfor %}
			</article>

			<img src="/assets/img/uploads/loja.jpg" alt="">
		</div>
	</div>
</section>