<section id="lojas" class="section no-pad scrollspy">
	<div class="container">
		<div class="section-grid-no-gap">
			<article class="container">
				<h4 class="primary-color-text text-title">Lojas de Ferragens</h4>

				<p>Temos diversas lojas de materiais de construção nos principas distritos da Provincía de Tete.</p>
				<p>Além disso, temos um estaleiro de fabrico de blocos para construção, sem deixar de lado o nosso maior fornecimento de vidros de alta qualidade.</p>

				<a href="" class="waves-effect waves-light">Aprecie a Galeria de Fotos</a>
			</article>

			<img src="/assets/img/loja.jpg" alt="">
		</div>
	</div>
</section>