<section class="section scrollspy center" id="portfolio">
    <div class="container">
        <h4 class="text-title">Nosso Portfólio</h4>
        <p>Com 25 anos de experiência, nosso portfólio é vasto dentre tantos serviços que já fizemos...</p>

        <section class="section">
            <div class="glider-container">
                <div class="glider-portfolio">
                    {% for item in site.portfolio limit: 6 %}
                        <img data-src="{{ item.image }}" alt="{{ item.title }}" class="lazy materialboxed" data-caption="{{ item.title }}">
                    {% endfor %}
                </div>
            </div>
        </section>

        <a href="" class="btn white primary-color-text">Veja Mais</a>
    </div>
</section>