<style>
    #portfolio {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url({{ page.image }}?nf_resize=fit&h=640);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        #portfolio {
            background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url({{ page.image }}?nf_resize=fit&w=1920);
            background-attachment: fixed;
        }
    }
</style>

<section class="section scrollspy center white-text" id="portfolio">
    <div class="container">
        <h4 class="text-title">Nosso Portfólio</h4>
        <p>Com 25 anos de experiência, nosso portfólio é vasto dentre tantos serviços que já fizemos...</p>

        <section class="section">
            <div class="carousel">
                {% for item in site.portfolio limit: 6 where: "category", "construcao" %}
                    <a href="#portfolio{{ forloop.index }}" class="carousel-item">
                        <img src="{{ item.image }}">
                    </a>
                {% endfor %}
            </div>
        </section>

        <a href="/portfolio/" class="btn white primary-color-text">Veja Mais</a>
    </div>
</section>