<section class="section scrollspy grey darken-4 center uppercase white-text">
    <div class="container">
        <ul class="inline-list">
            <li style="padding: 10px"><h5 class="bolder primary-color-text">+150</h5> <br> Trabalhadores</li>
            <li style="padding: 10px"><h5 class="bolder primary-color-text">+5</h5> <br> Técnicos/Engenheiros</li>
            <li style="padding: 10px"><h5 class="bolder primary-color-text">+200</h5> <br> Projectos</li>
            <li style="padding: 10px"><h5 class="bolder primary-color-text">+20</h5> <br> Anos de Experiência</li>
        </ul>
    </div>
</section>