<!-- Servicos Section -->
<section id="servicos" class="section no-pad scrollspy">
    <div class="container">
        <div class="section-grid">
            <article>
                <h4 class="primary-color-text text-title">Aprecie Nossos Serviços</h4>

                <blockquote>
                    <div class="flow-text">
                        Nesses ultimos 25 anos, adicionamos vários tipos de serviços ao nosso portfólio, não dedicando-nos apenas na Construção de Edificios
                    </div>
                </blockquote>

                <br>
                <a href="#maisServicos" class="btn waves-effect waves-light">Saiba Mais <i class="fas fa-arrow-down"></i></a>


            </article>
            <div class="slider">
                <ul class="slides">
                    {% for item in site.servicos limit: 3 %}
                        <li>
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<style>
    .servicos-container {
        position: relative;
    }

    .text {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
    }

    .text h5 {
        background-color: rgba(0,0,0,0.5);
        border: solid 4px #fff;
        padding: 10px;
        text-align: center;
        color: #fff;
    }
</style>

<div id="maisServicos" class="section scrollspy">
    <div class="container">
        <section class="slick-servicos">
            {% for item in site.servicos %}
                <div class="servicos-container center" data-aos="zoom-in" data-aos-duration="3000" style="padding: 20px;">
                    <img data-src="{{ item.image }}?nf_resize=fit&w=300" alt="{{ item.title }}" class="lazy">
                    <div class="text">
                        <h5><i class="fas fa-lg fa-{{ item.icon }}"></i> <br> {{ item.title }}</h5>
                        <a href="{{ item.title | downcase }}/" class="btn waves-effect waves-light white-text">Veja Mais</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
</div>